<tr>
  <td class="align-middle col-md-3"><%= image_tag badge.image, size: "40x40" %></td>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle col-md-1">
    <div class="btn-group btn-group-sm">
      <%= link_to t('.edit'),
                  edit_admin_badge_path(badge),
                  class: 'btn btn-outline-secondary'  %>
      <%= link_to t('.delete'),
                  admin_badge_path(badge),
                  method: :delete,
                  data: {confirm: t('.sure')},
                  class: 'btn btn-outline-danger btn-sm' %>
    </div>
  </td>
</tr>