<tr>
  <td><%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question) %></td>
  <td><%= link_to gist.url, gist.url, target: '_blank' %></td>
  <td><%= gist.user.email %></td>
</tr>