<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "All Tests", tests_path %></li>
        <li><%= link_to "New Tests", new_test_path %></li>
      </ul>
  </div>
</nav>
