<h1>All tests<h1/>

<p>
  <%= link_to 'New test', new_test_path %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions</th>
    <th colspan="4">Actions</th>
  </tr>

  <%= render @tests %>
</table>
