<h1 align="center">All tests</h1>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= render @tests %>
        </div>
        <div class="article-body">
        </div>
      </div>
    </div>
